@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Jura:wght@300&family=Zen+Kurenaido&display=swap');

* {
    font-family: 'Zen Kurenaido', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('OKLANDSCAPES1.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width:  calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}